<div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name: </label>
            <input class="form-control" type="text" name="name" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <input class="form-control" type="text" name="description" formControlName="description">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category: </label>
            <input class="form-control" type="text" name="category" formControlName="category">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Description: </label>
            <input class="form-control" type="text" name="price" formControlName="price">
        </div>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Save</button>
        <button class="btn btn-primary" type="button" (click)="goBack()">Go back</button>
    </form>
</div>