<div>
    <div class="row">
        <label for="name">Name: </label>
        <input type="text" name="name" [(ngModel)]="product.name">
    </div>
    <div class="row">
        <label for="description">Description: </label>
        <input type="text" name="description" [(ngModel)]="product.description">
    </div>
    <div class="row">
        <label for="category">Category: </label>
        <input type="text" name="category" [(ngModel)]="product.category">
    </div>
    <div class="row">
        <label for="price">Description: </label>
        <input type="text" name="price" [(ngModel)]="product.price">
    </div>
    <button type="button" (click)="addProduct()">Save</button>
    <button type="button" (click)="goBack()">Go back</button>
</div>